body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    padding: 100px;
    font-weight: 800;
    font-size: 11vmin;
    z-index: 100;
}

h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 100px;
    font-weight: 800;
    font-size: 4.5vmin;
    letter-spacing: 3px;
    z-index: 100;
}

.a-set {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    padding: 100px;
    list-style-type: none;
    font-weight: 800;
    font-size: 4.5vmin;
    z-index: 100;
}

.a-set > li {
    text-align: right;
    margin-top: 15px;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

a:hover {
    border-bottom: 7px solid white;
    border-left: 7px solid white;
}

@media only screen and (max-width: 600px) {
    h1 {
        width: 100%;
        padding: 50px;
        position: absolute;
        top: 0;
        left: 0;
    }

    h3 {
        width: 100%;
        padding: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .a-set {
        position: absolute;
        bottom: 70px;
        left: 0;
        padding: 50px;
        text-align: left;
        margin: 0;
    }

    .a-set > li {
        text-align: left;
        margin-top: 20px;
    }
}
